<footer>
  <div style="margin-bottom: 1.5em;">
    <strong style="display: block; margin-bottom: 0.5em;">核心开发成员：</strong>
    <div>
      <a href="https://space.bilibili.com/1969358629" target="_blank">哎哎哎哎哎哎哎哎哎啦</a>、
      Yuki、
      <a href="https://tieba.baidu.com/home/main?id=tb.1.69a710ab.Wys0SW7-Na-4ZOdVt0XGgg" target="_blank">平者深黑</a>、
      Kyle Zhang、Pseudocirrus、
      <a href="https://space.bilibili.com/443610657" target="_blank">之徙zx</a>、
      [虚位以待]、[虚位以待]
    </div>
  </div>
  <div>
    <strong style="display: block; margin-bottom: 0.5em;">特别感谢：</strong>
    <div>
      <a href="https://space.bilibili.com/4332600" target="_blank">印度蜜蜂</a>、
      freedomfreeman、
      反向站边、
      [虚位以待]、[虚位以待]
    </div>
  </div>
</footer>
